.main_container {
  display: flex;
  flex-direction: column;
}

.inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 6em;
}

.frame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #28272D;
  padding: 3em 6em 6em 6em;
}

