.container {
  outline: 1px dashed white;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
}

.innerContainer {
  width: 90%;
  height: 100%;

  @media screen and (min-width: 1800px) {
    width: 1700px;
  }
}
