.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28272D;
  width: 100%;
  padding: 6em 0 6em 0;
  margin-top: 16em;
}

.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  @media screen and (min-width: 1800px) {
    width: 1700px;
  }
}

@media screen and (max-width: 970px) {
  .container {
    margin-top: 14;
  }
}

// Phone
@media screen and (max-width: 740px) {
  .container {
    margin-top: 12em;
    padding: 4em 0 4em 0;
  }
}

@media screen and (max-width: 630px) {
  .container {
    margin-top: 9em;
    padding: 2em 0 2em 0;
  }
}

@media screen and (max-width: 530px) {
  .container {
    margin-top: 5em;
  }
}

