.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1800px) {
    width: 1700px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0 1em 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;

  & * {
    text-decoration: none;
  }
}

.icon {
  height: 3em;
  width: 3em;
  margin: 0 1em 0 1em;
}
